# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Test cache
.pytest_cache/

# Coverage
.coverage
htmlcov/

# OS files
.DS_Store
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Results
results/
reports/figures/
reports/tables/

# Environment files
.env